<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
	<package id="StyleCop.MSBuild" version="4.7.49" targetFramework="net4-client" userInstalled="true" />
	<package id="StyleCopPlus.MSBuild" version="4.7.49.5" targetFramework="net4-client" userInstalled="true" />
	<package id="XAct.Wintellect.PowerCollections" version="0.0.1" targetFramework="net4" userInstalled="true" />
</packages>